body {
  background-color: rgb(151, 155, 155);
}

.head {
  padding-bottom: 10px;
  color: rgb(9, 73, 250);
  margin: auto;
  padding-left: 15%;
}

.sign-up {
  background-color: #762ca7; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sign-in {
  background-color: #762ca7; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons {
  padding-top: 5vh;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 500px;
  height: 600px;
  background-color: rgb(255, 248, 248);
  border-radius: 40px;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}

.inp {
  margin-top: 5px;
}

.btn-d {
  background-color: #2a7bc7; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16p;
  width: 70%;
}

.signup {
  margin-top: 15px;
}

.label {
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.image {
  display: block;
  width: 60%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
}

#welcome {
  margin-bottom: 20px;
}
.log-out {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
}
